.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

.card {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: #fff;
}

.photo {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 524px;
}

.title {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
  margin-bottom: 8px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
  fill: #ffc531;
  stroke: #ffc531;
  width: 16px;
  height: 16px;
}

.icon {
  width: 16px;
  height: 16px;
}

.rating {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.description {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

.showMoreBtn {
  width: 166px;
  padding: 16px 16px;
}

.iconFilled {
  color: #e44848;
  transition: color 0.3s;
}

.iconOutline {
  color: #475467;
  transition: color 0.3s;
}
