.container {
  display: flex;
  flex-direction: column;
  padding: 48px 64px 80px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.additionalInfo {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.link {
  list-style-type: none;
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 24px;
  margin-bottom: 56px;
}

.active {
  border-bottom: 5px solid #e44848;
}
