.container {
  display: flex;
  padding: 48px 64px 52px;
  gap: 64px;
  background-color: #d4f0fc;
}

.title {
  text-align: center;
}

.text {
  text-indent: 20px;
}

.listUl {
  padding-left: 10px;
}

.list {
  list-style-type: disc;
}
