.header {
  display: flex;
  padding: 20px 60px;
  align-items: center;
  background: #ffc531;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  gap: 45px;
}

.navigation {
  display: flex;
  gap: 32px;
}

.link {
  color: #213547;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.active {
  color: #02a5e6;
}

.logo {
  width: 120px;
  height: 120px;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}

.titel {
  font-size: 16px;
  font-style: italic;
}

.titelAvtor {
  font-style: normal;
}
