.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 44px;
  margin-top: 44px;
  width: 641px;
  border-radius: 10px;
  border: 1px solid #dadde1;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

input,
textarea {
  display: flex;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f7f7f7;
  border: none;
  width: 527px;
}

textarea {
  height: 80px;
}

.sendBtn {
  width: 166px;
  padding: 16px 16px;
  margin: 0 auto;
}
