.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.rating {
  display: flex;
  gap: 16px;
  align-items: baseline;
  margin-top: 8px;
  margin-bottom: 16px;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration-line: underline;
}

.star {
  fill: #ffc531;
  stroke: #ffc531;
  width: 16px;
  height: 16px;
}

.icon {
  width: 16px;
  height: 16px;
}

.price {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.gallery {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.photo {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}
